# Default ignored files
/shelf/
/workspace.xml

# IntelliJ
.idea/
*.iml

# Build
target/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Development JWT private keystore
**/src/main/resources/certs/jwt-keystore.p12